$colors: (
   "gradient-bottom": linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%)),
   "gradient-right": linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%)),
   "purple": hsl(237, 63%, 64%),
   "blue": hsl(233, 13%, 49%),
   "dark-blue": hsl(232, 13%, 33%),
   "light-blue": hsl(234, 14%, 74%),
   "lighter-blue": hsl(240, 78%, 98%)
);

$font-sizes: (
   "sm": 1.1rem,
   "md": 1.2rem,
   "lg": 1.5rem,
   "xl": 2.3rem,
   "xxl": 4.5rem
);

@each $key,
$val in $colors {
   .bg-#{$key} {
      background: $val no-repeat;
      background-size: cover;
   }

   @if $key  !="gradient-bottom" and $key  !="gradient-right" {
      .text-#{$key} {
         color: $val;
      }
   }
}

@each $key,
$val in $font-sizes {
   .text-#{$key} {
      font-size: $val;
   }
}

@mixin flex($align: center, $justify: center, $direction: row, $gap: 0rem) {
   display: flex;
   align-items: $align;
   flex-direction: $direction;
   justify-content: $justify;
   gap: $gap;
}

@mixin grid($align: center, $justify: center, $gap: 0rem, ) {
   display: grid;
   align-items: $align;
   justify-content: $justify;
   gap: $gap;
}